doctype html
meta(charset='utf-8')
title PeCa Redirect
meta(name='description', content='PeerCastにリダイレクトします。')
meta(name='keywords', content='PeerCast,ピアキャスト,配信,動画,ストリーミング,生放送')
link(rel='stylesheet', href='css/style.css')
#loading
  p 読み込み中です...
  p このページは自動で閉じないので、手動で閉じてくださいです。
#setting(style='display: none;')
  p URLをPeerCastで開きます。
  label PeerCastのポート番号:
    input#port(type='text', value='7144')
  label PeerCastのアドレス（通常は変更する必要はありません）: 
    input#ip(type='text', value='127.0.0.1')
  br
  button#button 開く
  p 設定はブラウザに保存されますです。
#creator(style='display: none;')
  h1 PeCa Redirect
  p PeerCastのURLを生成します
  label チャンネルID
    input#id(type='text')
  label PeerCastのアドレス
    input#ip
  label PeerCastのポート番号
    input#port
  p URLを作りたい場合、以下の形にしてください。
  | http://www.prgrssv.net/izayoi/pecaredirect/?id={あなたのチャンネルのID}&tip={あなたのPeerCastのアドレス}
  p このページは自動で閉じないので、手動で閉じてくださいです。
script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.33.6/es6-sham.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.min.js')
script(src='https://code.jquery.com/jquery-2.1.4.min.js')
script(src='js/app.js')
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43486767-12', 'auto');
  ga('send', 'pageview');
